$color-f: #FFFFFF;
$black-name: #1B1C21;
$color-7e: #7e7e82;
$color-f8: #f8f8f8;
$color-F8: #F8F8F8;
$color-d9f: #D9fff5;
$color-ff3: #FF3E79;
$color-41f: #41f6d7;
$color-b8: #b8ffec;
$color-ea: #EAEAEA;
