.header {
  display: block;
  background: #fff;
  width: auto;
  height: 88px;
  box-sizing: border-box;
  background: #fff;
  padding-left: 24px;
  padding-right: 32px;

  &__title {
    display: flex;
    align-items: center;
    gap: 16px;
    width: auto;
    height: 88px;
    border-bottom: 1px solid #d9fff5;

    & .hover:hover {
      opacity: 0.5;
    }

    & .hover:active {
      opacity: 1;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    width: auto;
    height: 51px;
    @include margin-left_top;
    gap: 16px;

    &__group {
      width: 97px;
      height: 51px;
      margin-right: auto;
    }
  }
}
