.header {
  display: block;
  background: #fff;
  width: auto;
	height: 88px;
  box-sizing: border-box;
  background: #fff;
  padding-left: 24px;
}

.header__title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: auto;
  height: 88px;
  border-bottom: 1px solid #d9fff5;
}

.headar__icon {
  width: 40px;
  height: 40px;
}

.headar__icon__group {
  width: 97px;
  height: 51px;
  margin-right: auto;
}
