@media screen and (min-width: 1440px) {
  .main-sidebar {
    display: none;
  }

  .header {
    display: none;
  }

  .button__burger-block {
    display: none;
  }

  .button__burger-none {
    display: none;
  }

  .button-block {
    display: block;
  }

  .menu__item__span:hover {
    border-left: 4px solid $color-41f;
    opacity: 1;
    color: #7e7e82;
    width: 253px;
    padding-left: 20px;
  }

  .menu__item__span {
    padding-left: 24px;
  }

  .menu__button {
    display: flex;
    align-items: center;
    width: 320px;
    height: 51px;
    @include margin-left_top;
  }

  .menu__button__group {
    @include import-flex_center;
    width: 96.55px;
    height: 50.81px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 9.03px;
    @include border_bg;
  }

  .menu__button__search {
    @include import-flex_center;
    @include width_height;
    margin-left: 102.45px;
    margin-bottom: 16.03px;
    @include border_bg;
  }

  .services {
    display: flex;
    width: auto;
    height: 1925px;
  }

  .sidebar {
    display: block;
    width: 298px;
    height: 881.78px;
    opacity: 1;
    padding-top: 0px;
    padding-right: 29px;
    margin-left: 1px;
    background: $color-f;
  }

  @import './sidabar/menu/menu';

  .content {
    display: block;
    width: auto;
    height: 1925px;
    opacity: 1;
    margin-left: 320px;
    margin-top: 0px;
    background: $color-f8;
    padding-top: 0px;
  }

  .main {
    display: grid;
    width: auto;
    height: 1925px;
    background: #f8f8f8;
    margin-left: 0px;
    margin-top: 0px;
  }

  .main__title,
  .main__slide {
    display: block;
  }

  .block-none {
    display: block;
  }

  @import './content/main__section';

  @import './content/main-list';

  @import './content/main-cards';

  @import './content/main-tehnika';

  @import './content/main-footer';
}

