@media screen and (min-width: 1440px) {
  .main-sidebar {
    display: none;
  }

  .header {
    display: none;
  }

  .button__burger-block {
    display: none;
  }

  .button__burger-none {
    display: none;
  }

  .button-block {
    display: block;
  }

  .menu__button {
    display: flex;
    align-items: center;
    width: 320px;
    height: 51px;
    @include margin-left_top;

    &-group {
      @include import-flex_center;
      width: 96.55px;
      height: 50.81px;
      margin-top: 0px;
      margin-left: 0px;
      margin-bottom: 9.03px;
      @include border_bg;
    }

    &__search {
      @include import-flex_center;
      @include width_height;
      margin-left: 86.45px;
      margin-bottom: 16.03px;
      @include border_bg;
    }
  }

  .services {
    display: flex;
    width: auto;
    height: auto;
  }

  .sidebar {
    display: block !important;
  }

  @import './sidabar/menu/menu';


  .content {
    display: block;
    width: auto;
    height: auto;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    background: $color-f8;
    padding-top: 0px;
  }

  .main {
    width: auto;
    height: auto;
    background: #f8f8f8;
    margin-left: 0px;
    margin-top: 0px;

    &__title,
    &__slide {
      display: block;
    }
  }

  .block-none {
    display: block;
  }

    .main-group__long__text p + p {
      display: block;
    }

    .main-group__long__text p + p span {
      display: block;
    }

    .main-group__long__text p + p span + span {
      display: block;
    }

  @import './content/main__section';

  @import './content/main-list';

  @import './content/main-cards';

  @import './content/main-tehnika';

  @import './content/main-footer';
}
