@media screen and (min-width: 360px) and (max-width: 1440px) {
  .content {
    display: none;
  }

  .main-sidebar {
    display: none;
  }

  .button__burger-block {
  display: none;
}

.button__burger-none {
  display: block;
}
  
  .menu {
    display: block;
    width: 360px;
    height: 676px;
    @include margin-left_top;
    padding-bottom: 32px;
  }

  .menu__button {
    display: flex;
    align-items: center;
    width: 360px;
    height: 51px;
    @include margin-left_top;
    gap: 16px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .menu__button,
  .hover:hover {
    opacity: 0.5;
  }

  .menu__button,
  .hover:active {
    opacity: 1;
  }

  .menu__button__burger-menu {
    margin-left: 24px
  }

  .menu__button__burger {
    @include import-flex_center;
    @include width_height;
    margin-left: 24px;
    margin-top: 8px;
    @include border_bg;
  }

  .menu__button__group {
    @include import-flex_center;
    width: 96.55px;
    height: 50.81px;
    @include margin-left_top;
    @include border_bg;
  }

  .menu__button__search {
    @include import-flex_center;
    @include width_height;
    margin-left: 79px;
    margin-top: 8px;
    @include border_bg;
  }

  .menu__list {
    display: block;
    width: 222px;
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
    opacity: 1;
    padding: 0px;
  }

  .menu__item {
    @include import-flex_column;
    width: 222px;
    height: auto;
    @include margin-left_top;
    gap: 24px;
    @include font-size_16;
    align-items: center;
  }

  .menu__item__first {
    display: flex;
    align-items: center;
    @include margin-left_top;
    border-left: 4px solid $color-41f;
    opacity: 1;
  }

  .menu__item__first span {
    margin-left: 20px;
    margin-top: 0px;
    width: 120px;
    height: 32px;
  }

  .menu__item__span {
    margin-left: 0px;
    width: 198px;
    height: 32px;
  }

  .menu__contact {
    @include flex-wrap_direction;
    width: 196px;
    height: 124px;
    margin-top: 32px;
    margin-left: 24px;
    opacity: 1;
    gap: 16px;
  }

  .menu__contact__img {
    @include import-flex_row;
    @include width_height;
    @include margin-left_top;
    opacity: 1;
    @include border_bg;
  }

  .menu__span__mail {
    width: 106px;
    height: 24px;
    @include margin-left_top;
    opacity: 1;
    @include font-size_24;
  }

  .menu__span__tell {
    width: 196px;
    height: 32px;
    @include margin-left_top;
    opacity: 1;
    @include font-size_24;
  }

  .menu__lang {
    margin-top: 8px;
    margin-left: 0px;
  }

  .menu__lang span {
    width: 24px;
    height: 24px;
    @include margin-left_top;
    opacity: 1;
    @include font-size_16;
  }
}