@media screen and (min-width: 768px) and (max-width: 1440px) {
  .sidebar {
    display: none;
    position: fixed;
    z-index: 1;
    width: 320px;
    height: auto;
    opacity: 1;
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 1px;
    top: 0;
    left: 0;
    transition: 0.5px;
    background: $color-f;

    .sidebar.active {
      display: block;
    }
  }

  .button__burger-block {
    display: none;
  }

  .button-block {
    margin-left: 36px;
  }

  .main-sidebar {
    display: none;
  }

  .header {
    display: block;

    &__icon:nth-child(10) {
      display: none;
    }
  }

  @import './sidabar/menu/menu';

  @import './header';

  .content {
    display: block;
    width: auto;
    height: auto;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    background: $color-f8;
    padding-top: 0px;
    transition: margin-left 0.5s;
  }

  .main {
    display: block;
    width: auto;
    height: auto;
    background: #f8f8f8;
    margin-left: 0px;
    margin-top: 0px;

    &__title,
    &__slide {
      display: block;
    }

    .block-none {
      display: none;
    }

@import './content/main__section';
  }

  .main-group {
    display: block;
    width: auto;
    height: 100%;
    margin-left: 32px;

    &__long__text {
      width: auto;
      height: auto;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $black-name;
    }

    &__long__text p + p {
      display: block;
    }

    &__long__text p + p span {
      display: block;
    }

    &__long__text p + p span + span {
      display: none;
    }
  }

  .cards__item:nth-child(n + 7) {
    display: none;
  }

  @import './content/main-list';

  @import './content/main-cards';

  @import './content/main-tehnika';

  @import './content/main-footer';
}
