@media screen and (max-width: 768px) {
  .content {
    display: none;
  }

  .header {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .menu {
    width: auto;
    height: 100%;
    @include margin-left_top;
    padding-bottom: 32px;
  }

  .header {
    display: block;
    background: #fff;
    width: auto;
    height: 88px;
    box-sizing: border-box;
    background: #fff;
    padding-left: 24px;
    padding-right: 32px;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: auto;
      height: 88px;
      border-bottom: 1px solid #d9fff5;

      button:nth-child(4) {
        display: none;
      }

      button:nth-child(5) {
        display: none;
      }

      button:nth-child(6) {
        display: none;
      }

      button:nth-child(7) {
        display: none;
      }

      button:nth-child(9) {
        display: none;
      }

      & .hover:hover {
        opacity: 0.5;
      }

      & .hover:active {
        opacity: 1;
      }
    }

    .header__icon {
      display: flex;
      align-items: center;
      width: auto;
      height: 51px;
      @include margin-left_top;
      gap: 16px;

      &__group {
        width: 97px;
        height: 51px;
        margin-right: auto;
      }
    }
  }

  @import './sidabar/menu/menu__list';

  .main-sidebar {
    display: block;
    width: auto;
    height: 100%;
    background: $color-f8;
  }

  .main__title {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    margin-top: 0px;
    opacity: 1;
    gap: 17px;
    margin-bottom: 24px;
    margin-left: 0px;
  }

  .main__highlight {
    width: 4px;
    height: 40px;
    background: $color-41f;
    border-radius: 0 2px 2px 0;
  }

  .main__text {
    @include font-size_28;
  }

  @import './sidabar/menu/main-sidebar/main-slide';

  @import './sidabar/menu/main-sidebar/main-group.scss';

  @import './sidabar/menu/main-sidebar/main-brends.scss';

  @import './sidabar/menu/main-sidebar/main-tehnika.scss';

  @import './sidabar/menu/main-sidebar/main-cens.scss';

  .text-long {
    width: auto;
    height: auto;
    margin-left: 16px;
    margin-top: 24px;
    opacity: 1;

    & p {
      width: auto;
      height: auto;
      margin-left: 0px;
      margin-top: 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $black-name;
    }

    &__list {
      display: flex;
      width: auto;
      height: 54.98px;
      @include margin-left_top;
      opacity: 1;
      gap: 0px;
    }

    &__img {
      width: 24px;
      height: 27.49px;
      margin-top: 0px;
      opacity: 1;
    }
  }

  .main-footer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 40px;
    opacity: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #7e7e82;
  }
}
