.main-brends {
  display: grid;
  width: 1120px;
  height: 196px;
  margin-left: 0px;
  margin-top: 0px;
  opacity: 1;
}

.brends__text {
  display: block;
  width: 320px;
  height: 80px;
  opacity: 1;
  @include margin-left_top;
  background: linear-gradient(270deg, $color-f8 0%, $color-f 98.61%);
}

.brends__text span {
  display: flex;
  align-items: center;
  width: 288px;
  height: 48px;
  margin-left: 16px;
  margin-top: 16px;
  @include font-weight_size-16;
  text-transform: uppercase;
  background: $color-f;
  color: $color-7e;
}

.brends-swiper {
  width: 480px;
  height: 72px;
}

.swiper-wrapper {
  width: 240px;
  height: 72px;
  margin-left: 0px;
  margin-top: 0px;
}

.brends-wrapper {
  display: flex;
  width: 240px;
  height: 72px;
  @include margin-left_top;
  gap: 16px;
}

.brends-slide {
  display: flex;
  align-items: center;
  width: 240px;
  height: 40px;
  opacity: 1;
  @include margin-left_top;
  background: $color-f;
}

.brends-slide__lenovo {
  width: 108px;
  height: 32px;
  @include margin-left_top;
  opacity: 1;
}

.brends-slide__go {
  @include width_height;
  @include margin-left_top;
  opacity: 1;
}

.brends-slide__samsung {
  width: 116px;
  height: 38.52px;
  @include margin-left_top;
  opacity: 1;
}

.swiper-pagination {
  width: 204px;
  height: 12px;
  margin-top: 0px;
  margin-left: 0px;
  background: $color-f;
  gap: 4px;
}
