.main-cens {
  width: auto;
  height: 196px;
  opacity: 1;
  margin-top: 24px;
}

.cens-text {
  display: block;
  width: auto;
  height: auto;
  opacity: 1;
  padding: 16px 0;
  margin-top: 24px;
  margin-left: 16px;
  border-top: 1px solid $color-d9f;
  background: linear-gradient(to right, $color-f8 20%, $color-f 80%);

  & span {
    width: 312px;
    height: 24px;
    opacity: 1;
    margin-top: 16px;
    margin-left: 0px;
    @include font-weight_size-16;
    text-transform: uppercase;
    color: $color-7e;
  }
}

.main-cens {
  margin-top: 24px;
  width: auto;
  height: auto;
}

.swiper.cens-swiper {
  width: auto;
  height: 250px;
  margin-left: 0px;
}

.swiper-wrapper.cens-wrapper {
  width: 260px;
  height: 200px;
}

.cens-card {
  width: auto;
  height: 200px;
  opacity: 1;
  margin-left: 16px;
  margin-top: 16px;
  background: #ffffff;
}

.cens-list {
  @include import-flex_column;
  width: 228px;
  height: 168px;
  padding: 16px;
  opacity: 1;
  @include margin-left_top;
}

.cens-item {
  @include import-flex_column;

  &__group {
    display: flex;
    width: auto;
    height: 38px;
    gap: 28px;
  }

  &__list {
    @include import-flex_column;
    width: 81px;
    height: 38px;
    @include margin-left_top;
    opacity: 1;

    & span + span {
      display: flex;
      width: 100px;
      height: 18px;
      @include margin-left_top;
      opacity: 1;
    }
  }
}

.cens-button {
  display: flex;
  align-items: center;
  width: 119px;
  height: 32px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 16px;
  padding-left: 12px;
  background: $color-ff3;
  color: $color-f;
}


