
  .main__group {
    @include import-flex_column;
    gap: 16px;
    margin-left: 0px;
  }

  .main__group__content__text {
    max-width: 100%;
    margin-left: 16px;
  }

  .main__group__long__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    margin-bottom: 16px;
  }

  .main__group__readmore {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    width: 132px;
    height: 24px;
    top: 346px;
    left: 16px;
    opacity: 1;
  }

  .main__group__readmore__expand {
    width: 24ps;
    height: 24px;
    top: 346px;
    left: 16px;
    opacity: 1;
  }

  .main__group__readmore__text {
    @include font-size_16;
  }

  .main__group__picture {
    width: 100%;
    height: auto;
    max-width: 320px;
    border-radius: 6px;
    @include border_bg;
  }
