.tehnika__text {
  display: flex;
  width: auto;
  height: 60px;
  opacity: 1;
  margin-top: 24px;
  border-top: 1px solid $color-d9f;
  background: linear-gradient(to right, $color-f8 20%, $color-f 80%);
}

.tehnika__text span {
  display: flex;
  width: auto;
  margin-top: 16px;
  margin-left: 16px;
  @include font-weight_size-16;
  text-transform: uppercase;
  color: $color-7e;
}

.tehnika__brends {
  margin-top: 0px;
  @include import-flex_column;
  width: auto;
  height: 100%;
}

.main-tehnika {
  margin-left: 0px;
  margin-top: 24px;
  width: auto;
  height: 280px;
}

.swiper.tehnika-swiper {
  margin-left: 16px;
  padding-bottom: 16px !important;
}

.swiper-wrapper.tehnika-wrapper {
  width: 240px;
  height: 160px;
  margin-top: 16px;
}

.tehnika-slide {
  width: 240px;
  height: 160px;
  opacity: 1;
  margin-top: 0px;
  background: #ffffff;
}

.tehnika-slide span {
  width: 136px;
  height: 24px;
  opacity: 1;
  margin-left: 16px;
  margin-top: 16px;
  @include font-size_16;
}

.tehnika__slide__go {
  @include width_height;
  opacity: 1;
  margin-top: 90px;
  margin-left: 184px;
}

.swiper-pagination.tehnika-paginat {
  display: block;
  width: 204px;
  height: 12px;
  margin-top: 0px;
  margin-left: 0px;
  background: $color-f8;
  opacity: 1;
}
