  .menu {
    width: 276px;
    height: 881.78px;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0px;
  }

  .menu__button {
    display: flex;
    align-items: center;
    width: 276px;
    height: 51px;
    @include margin-left_top;
    padding-left: 22px;
    padding-top: 30px;
    gap: 16px;
  }

  .menu__button,
  .hover:hover {
    opacity: 0.5;
  }

  .menu__button,
  .hover:active {
    opacity: 1;
  }

  .menu__button__group {
    @include import-flex_center;
    width: 96.55px;
    height: 50.81px;
    @include margin-left_top;
    @include border_bg;
  }

  .menu__button__search {
    @include import-flex_center;
    @include width_height;
    margin-left: 102px;
    margin-top: 0px;
    @include border_bg;
  }

  .menu__list {
    display: block;
    width: 214px;
    height: auto;
    margin-top: 37.19px;
    margin-left: 0px;
    opacity: 1;
    padding-bottom: 32px;
  }

  .menu__item {
    @include import-flex_column;
    width: 320px;
    height: 364px;
    margin-top: 0px;
    margin-left: 0px;
    gap: 24px;
    @include font-size_16;
  }

  .menu__item__first {
    display: flex;
    align-items: center;
    @include margin-left_top;
    border-left: 4px solid $color-41f;
    opacity: 1;
  }

  .menu__item__first span {
    margin-left: 24px;
    width: 120px;
    height: 32px;
  }

  .menu__contact {
    @include flex-wrap_direction;
    width: 196px;
    height: 124px;
    margin-top: 0px;
    margin-left: 24px;
    opacity: 1;
    gap: 16px;
  }

  .menu__contact__img {
    @include import-flex_row;
    @include margin-left_top;
    margin-top: 268px;
    opacity: 1;
    @include border_bg;
  }

  .menu__span__mail {
    width: 106px;
    height: 24px;
    @include margin-left_top;
    opacity: 1;
    @include font-size_16;
  }

  .menu__span__tell {
    width: 196px;
    height: 32px;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;
    @include font-size_24;
  }

  .menu__lang {
    margin-top: 40px;
    margin-left: 24px;
  }

  .menu__lang span {
    width: 24px;
    height: 24px;
    @include margin-left_top;
    opacity: 1;
    @include font-size_16;
  }