.menu__list {
  width: 320px;
  height: 1722px;
  margin-top: 22px;
  margin-left: 0px;
  opacity: 1;
  padding-bottom: 32px;

  .menu__item {
    @include import-flex_column;
    width: 320px;
    height: 364px;
    margin-top: 0px;
    margin-left: 0px;
    gap: 24px;
    @include font-size_16;

    &__span {
      display: flex;
      align-items: center;
      @include margin-left_top;
      border-left: 4px solid $color-41f;
      opacity: 1;
      color: #7e7e82;
      width: 214px;
      padding-left: 12px;
    }
  }

    .menu__item__span:hover {
    border-left: 4px solid $color-41f;
    opacity: 1;
    color: #7e7e82;
    width: 253px;
    padding-left: 20px;
  }

  .menu__contact {
    display: flex;
    width: 196px;
    height: 124px;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-top: 268px;
      opacity: 1;
      @include border_bg;
    }
  }

  .menu__span__mail {
    width: 106px;
    height: 24px;
    margin-top: 16px;
    margin-left: 0px;
    opacity: 1;
    @include font-size_16;
  }

  .menu__span__tell {
    width: 196px;
    height: 32px;
    margin-top: 12px;
    margin-left: 0px;
    opacity: 1;
    @include font-size_24;
  }

  .menu__lang {
    background: $color-f;
    opacity: 1;
    span {
      width: 24px;
      height: 24px;
      @include margin-left_top;
      opacity: 1;
      @include font-size_16;
    }
  }

  .main__section__remove {
    display: block;
  }
}
